# --- Thông tin nhạy cảm (QUAN TRỌNG) ---
# Chứa mật khẩu Wi-Fi, API keys, hoặc credentials
config.h
secrets.h
auth.py
*.env

# --- File rác của trình biên dịch (Build Artifacts) ---
build/
bin/
obj/
*.o
*.elf
*.bin
*.hex
*.map

# --- Thư mục của công cụ phát triển (IDEs/Tools) ---
.vscode/
.idea/
.pio/
node_modules/
CMakeSettings.json

# --- File hệ thống ---
.DS_Store
Thumbs.db